.wrapper {
  display: flex;
  height: 130px;
  width: 270px;
  flex-basis: 1;
  margin-bottom: 40px;
  color: black;
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.33);
  cursor: pointer;
}

.thumbnail {
  flex: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.textContainer {
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 17px;
  text-align: center;
  min-height: 45%;
  /* background-color: red; */
}

.description {
  font-size: 13px;
  text-align: left;
  padding: 10px 15px;
}
