.App {
  display: flex;
  height: 100vh;
}

main {
  /* display: flex; */

  /* margin: 0 auto; */
  /* justify-content: center;
  align-items: center; */

  width: 75%;
  height: 100%;
  background-color: saddlebrown;
}

aside {
  width: 25%;
  height: 100%;
  background-color: rosybrown;
}

h1 {
  font-size: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  height: calc(100% - 110px);
  width: 100%;
  padding: 10px;
  background-color: red;
  overflow: auto;
}

.container {
  margin: 100px auto 0;
  /* display: flex; */

  /* margin: 0 auto; */
  /* justify-content: center;
  align-items: center; */
  background-color: royalblue;
  width: 60%;
  height: 60%;
  /* border-radius: 25px;
  overflow: hidden; */
}
