.App {
  display: flex;
  height: 100vh;
}

ul {
  list-style: none;
}

main {
  /* display: flex; */
  /* padding: 100px 100px 200px 100px; */
  /* margin: 0 auto; */
  /* justify-content: center;
  align-items: center; */

  width: calc(100% - 350px);
  /* min-width: 700px; */
  height: 100%;
  /* background-color: saddlebrown; */
}

aside {
  /* width: 25%; */
  width: 350px;
  height: 100%;
  /* background-color: rosybrown; */
}

h1 {
  padding-right: 20px;
  font-size: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  height: calc(100% - 130px);
  width: 100%;
  padding: 10px 20px;
  /* background-color: red; */
  overflow: auto;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.ha2 {
  color: white;
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 15px;
  text-align: left;
}

.main-desc {
  color: white;
}

.video-container {
  margin: 100px auto;
  /* background-color: green; */
  /* padding: 100px; */
  /* height: 20vh; */
  max-width: 60%;
  /* height: 100px; */
}

.container {
  position: relative;
  padding-top: 56.25%;
  /* margin: 100px auto 0; */
  /* background-color: royalblue; */
  /* width: 60%; */
  /* height: 60%; */
  /* display: flex; */
  /* margin: 0 auto; */
  /* justify-content: center;
  align-items: center; */
  /* border-radius: 25px;
  overflow: hidden; */
  box-shadow: 0px 8.0766px 11.0702px rgba(0, 0, 0, 0.5);
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
