.App {
  display: flex;
  height: 100vh;
}

main {
  /* display: flex; */
  /* padding: 100px 100px 200px 100px; */
  /* margin: 0 auto; */
  /* justify-content: center;
  align-items: center; */

  width: 75%;
  /* min-width: 700px; */
  height: 100%;
  background-color: saddlebrown;
}

aside {
  width: 25%;
  height: 100%;
  background-color: rosybrown;
}

h1 {
  font-size: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  height: calc(100% - 110px);
  width: 100%;
  padding: 10px;
  background-color: red;
  overflow: auto;
}

.ha2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.video-container {
  margin: 100px auto;
  /* background-color: green; */
  /* padding: 100px; */
  /* height: 20vh; */
  max-width: 60%;
  /* height: 100px; */
}

.container {
  position: relative;
  padding-top: 56.25%;
  /* margin: 100px auto 0; */
  background-color: royalblue;
  /* width: 60%; */
  /* height: 60%; */
  /* display: flex; */
  /* margin: 0 auto; */
  /* justify-content: center;
  align-items: center; */
  /* border-radius: 25px;
  overflow: hidden; */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
